* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'montserrat', sans-serif;
  background-color: #223343;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Full height for centering vertically */
}

header {
  padding: 50px 15px 0px;
}

header h1 {
  color: #FFF;
  font-size: 48px;
  font-weight: 500;
  text-align: center;
}

main {
  width: 100%;
  max-width: 960px;
  margin: 8 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Center the content horizontally */
}

section {
  padding: 15px;
  width: 100%;
}

.searchbox {
  display: block;
  width: 100%;
  padding: 15px;
  border: none;
  outline: none;
  background: none;
  background-color: #EEE;
  border-radius: 8px;
  color: #53565a;
  font-size: 20px;
  font-weight: 30px;
  transition: 0.4s ease-out;
}

.searchbox:focus {
  box-shadow: 0px 0px 8px 3px #4484C4;
}

.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px -15px;
}

.results .result {
  width: 30%;
  min-width: 250px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  box-sizing: border-box;
}

.results .result img {
  display: block;
  width: 100%;
}

.results .result h3 {
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  background: #445565;
  flex: 1;
  transition: 0.4s ease-out;
}

.results .result:hover h3 {
  background: #fff;
  color: #223343;
}

.popup {
  position: fixed; /* Makes it fixed to the viewport */
  top: 50%; /* Centers vertically */
  left: 50%; /* Centers horizontally */
  transform: translate(-50%, -50%); /* Centers by shifting */
  width: 80%; /* Adjust width for responsiveness */
  max-width: 600px;
  background-color: #2b3a4a;
  padding: 20px;
  z-index: 100; /* Ensures it is on top */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.popup .content {
  margin-bottom: 20px;
}

.popup .plot {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup .plot img {
  width: 100%;
  max-width: 300px;
  margin-bottom: 15px;
}

.popup .close {
  background-color: #ff5c5c;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
}

.popup .close:hover {
  background-color: #ff1c1c;
}

/* Dim background when popup is open */
body.popup-open {
  overflow: hidden;
}

.popup-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Darkens background */
  z-index: 50; /* Below popup */
}
